<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classifier</title>
  <link rel="stylesheet" href="static/frontpage.css">
</head>
{% extends "templates.html" %}
{% block content %}
<body>

<body id="frontpageBody">

    <div id="page-container">

        <div id="content-wrap">
            <h1 id="startscreen">Classifier</h1>
            <h1 id="startscreen2">Test the classifier with your custom text.</h1>
            <form method="POST">
                <label for="name">Type a text and get a classification!</label>
                <input type="text" id="name" name="input_string">
                <button type="submit" class="dropbtn">Select</button>
            </form>
        </div>

        {% for title, prediction in predictions %}

        <table id="thread-table">

            <h3>{{title}}</h3>

            {% for label, confidence in prediction.items() %}
            <tr>
                <th> {{ label }} </th>
                <td> {{ confidence }} </td>

            </tr>
            {% endfor %}

        </table>

        {% endfor %}

    </div>


</body>
{% endblock %}

</html>