<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/frontpage.css">
</head>
{% extends "templates.html" %}
{% block content %}

<body id="frontpageBody">

<div id="page-container">
    <div id="content-wrap">
        <h1 id="startscreen">4-Chan Data Set Analysis Tool</h1>

    </div>


</div>
{% endblock %}

</body>


</html>