<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/frontpage.css">
</head>
{% extends "templates.html" %}
{% block content %}

<body id="frontpageBody">

<div id="page-container">

    <div id="content-wrap">
        <h1 id="startscreen">4-Chan Data Set Analysis Tool</h1>
    </div>

    <form class="form-inline" method="POST" action="/">
        <div class="form-group">
            <div id="filmselector" class="input-group">
                <h1>Select Timespan</h1>
                <select name="comp_select" class="selectpicker form-control">
                    <option value="daily">daily</option>
                    <option value="hourly">hourly</option>
                </select>
         <button type="submit" class="dropbtn">Go</button>
            </div>

        </div>
    </form>


</div>
{% endblock %}

</body>


</html>