<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Search Thread</title>
    <link rel="stylesheet" href="static/frontpage.css">
</head>
{% extends "templates.html" %}
{% block content %}

<body id="frontpageBody">

<div id="page-container">

    <div id="content-wrap">
        <h1 id="startscreen">4-Chan Data Set Analysis Helper</h1>
        <h1 id="startscreen2">Get the Thread to Thread ID</h1>


        <form method="POST">
            <label for="thread_id">Thread ID:</label>
            <input type="number" id="thread_id" name="fname"><br><br>
            <button type="submit" class="dropbtn">Select</button>
        </form>

        <div id="myData"></div>

        <table id="thread-table">
            {% for key, value in thread.items() %}
            <tr>
                <th> {{ key }} </th>

                {% if key == "replies" %}
                <td>
                        <table id="sub-table">
                        {% for reply in value %}
                            {% for key2, value2 in reply.items() %}
                                    <tr>
                                        <th> {{ key2 }} </th>
                                        <td> {{ value2 }} </td>
                                    </tr>

                            {% endfor %}

                            <tr class="blank_row">
                                <td bgcolor="#FFFFFF" colspan="3">&nbsp;</td>
                            </tr>
                        {% endfor %}
                        </table>
                    </td>

                {% else %}
                    <td> {{ value }} </td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>


    </div>



</div>
{% endblock %}

</body>


</html>