<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Plots</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="static/plots.css">
</head>
{% extends "templates.html" %}
{% block content %}

<body id="frontpageBody">

<div id="page-container">

  <div id="content-wrap">
    <h1 id="startscreen">Analysis Plots</h1>

      <form class="form-inline" method="POST" action="{{ url_for('plots') }}">
            <div class="form-group">
                <div id="time_interval_selector" class="input-group">
                    <h2>Select your time interval</h2>
                    <select name="comp_select" class="selectpicker form-control">
                        <option value="daily">daily</option>
                        <option value="hourly">hourly</option>
                    </select>
             <button type="submit" class="dropbtn">Select</button>
                </div>

            </div>
      </form>


    <div id="topicModelling" class="container">
        <h2>Topic Signal Modeling</h2>
        <div class="row">
            <div class="col-md-6">
                <div id="topicModellingC" class="chart">
                    <script>
                    var topics = JSON.parse({{plots["topic_plot_json"]| tojson |safe}});
                    Plotly.plot('topicModellingC', topics.data, topics.layout);
                    </script>
                </div>
            </div>
        </div>
    </div>

    <div id="countings" class="container">
        <h2>Countings</h2>
        <div class="row">
            <div class="col-md-6">

                <div id="count_replies" class="chart">
                    <script>
                    var count_replies = JSON.parse({{plots["counting_plots"]["count_replies"]| tojson |safe}});
                    Plotly.plot('count_replies', count_replies.data,count_replies.layout);
                    </script>
                </div>
              <h3>Word Counts</h3>
              <div id="counts" class="chart">
                    <script>
                    var counts = JSON.parse({{plots["counting_plots"]["counts"]| tojson |safe}});
                    Plotly.plot('counts', counts.data, counts.layout);
                    </script>
                </div>
              <h3>Special Threads</h3>
              <div id="special_threads" class="chart">
                    <script>
                    var special_threads = JSON.parse({{plots["counting_plots"]["special_threads"]| tojson |safe}});
                    Plotly.plot('special_threads', special_threads.data, special_threads.layout);
                    </script>
                </div>
            </div>
        </div>
    </div>
      <div id="keyword_plots" class="container">
        <h2>Keyword Distributions</h2>
        <div class="row">
            <div class="col-md-6">
              <h3>Percentage of occuring Keywords</h3>
                <div id="percentage_of_keyword_occ" class="chart">
                    <script>
                    var percentage_of_keyword_occ = JSON.parse({{plots["keyword_plots"]["percentage_of_keyword_occ"]| tojson |safe}});
                    Plotly.plot('percentage_of_keyword_occ', percentage_of_keyword_occ.data, percentage_of_keyword_occ.layout);
                    </script>
                </div>
              <h3>Thread with high Keyword Counts</h3>
                {% for counter, plot in plots["keyword_plots"]["highest_thread_plot"] %}

                <div id={{counter}} class="chart">
                    <script>
                    var highest_thread_plot = JSON.parse({{plot| tojson |safe}});
                    Plotly.plot({{counter}}, highest_thread_plot.data, highest_thread_plot.layout);
                    </script>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>



  </div>


</div>
{% endblock %}

</body>


</html>